<div class="col-10 offset-1 about"> 
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/j1wooldridge">Jacques Wooldridge</a>.  Who is a Cobol Developer that is wanting to transition to a Web Developer using Full Stack, Javascript and Ruby on Rails.
  </p>
  <br />    
  <p>
    In a previous life, he worked on the Hogan banking suite of products for several international banks, in USA, Europe and South Africa.      
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>  
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jacques.jpg', class: 'img-fluid' %>    
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jacques Wooldridge</h2>
      <br />
      <p>
        Jacques Wooldridge is a Cobol Developer that is wanting to transition to a Web Developer using Full Stack, Javascript and Ruby on Rails. He is busy with the UT Austin Online Full Stack developer boot camp. In a previous life he worked for several international banks and insurance companies in US, Europe and South Africa.
      </p>
    </div>  
  </div>
  <br class="clear" />  


</div>  

<br class="clear" />
<br />
<br />
<br />
<br />      