<div class="col-10 offset-1 about"> 
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/j1wooldridge">Jacques Wooldridge</a>.  Who is a Cobol Developer that is wanting to transition to a Web Developer using Full Stack, Javascript and Ruby on Rails.
  </p>
  <br />    
  <p>
    In a previous life, he worked on the Hogan banking suite of products for several international banks, in USA, Europe and South Africa.      
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>  
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jacques.jpg', class: 'img-fluid' %>    
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jacques Wooldridge</h2>
      <br />
      <p>
        Jacques Wooldridge is a Cobol Developer that is wanting to transition to a Web Developer using Full Stack, Javascript and Ruby on Rails. He is busy with the UT Austin Online Full Stack developer boot camp. (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) and most recently led the user experience for <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, building a $500M/year international tuition payment platform. In an earlier life, he travelled around the world on <a target="_blank" href="http://25dollartravel.com">$25/day</a> for an entire year.
      </p>
    </div>  
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'jacques.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ken Mazaika</h2>  
      <br />
      <p>
        Ken Mazaika is a web developer and Ruby on Rails contributor. Previously he was a tech lead at Where.com (<a target="_blank" href="http://bostinno.streetwise.co/2011/04/13/nearbuys-where-rolls-out-daily-deals/">acquired by PayPal</a>) and a member of the PayPal/eBay development team in Boston. In a previous life he turned a <a target="_blank" href="http://yourfreequotes.com/">health insurance quotes generator</a> from a $400/day web application into a $40,000/day business.
      </p>
    </div>
  </div>


</div>  

<br class="clear" />
<br />
<br />
<br />
<br />      